# Clean routes.sql

In some routes, there's more than one plane inserted, so we're separating per line here.

In [36]:
import pandas as pd
headers = ['airline', 'airline_id', 'source_airport', 'source_airport_id', 'destination_airport', 'destination_airport_id', 'codeshare', 'stops', 'equipment']
routes = pd.read_csv("routes.csv", names=headers)
routes.head()

,airline,airline_id,source_airport,source_airport_id,destination_airport,destination_airport_id,codeshare,stops,equipment
0,2B,410.0,AER,2965.0,KZN,2990.0,NaN,0,CR2
1,2B,410.0,ASF,2966.0,KZN,2990.0,NaN,0,CR2
2,2B,410.0,ASF,2966.0,MRV,2962.0,NaN,0,CR2
3,2B,410.0,CEK,2968.0,KZN,2990.0,NaN,0,CR2
4,2B,410.0,CEK,2968.0,OVB,4078.0,NaN,0,CR2

In [37]:
new_lines = pd.DataFrame(columns=headers)
new_lines

Empty DataFrame
Columns: [airline, airline_id, source_airport, source_airport_id, destination_airport, destination_airport_id, codeshare, stops, equipment]
Index: []

In [41]:
for i in range(1):
    print(routes.iloc[i])
    if " " in str(routes.iloc[i]['equipment']):
        planes = str(routes.iloc[i]['equipment']).split(' ')
        new_line = routes.iloc[i].copy()
        new_line['equipment'] = planes[0]
        new_lines = new_lines.append(new_line, ignore_index=True)

        for j in range(1, len(planes)):
            new_line = routes.iloc[i].copy()
            new_line['equipment'] = planes[j]
            new_lines = new_lines.append(new_line, ignore_index=True)
    else:
        new_lines = new_lines.append(routes.iloc[i].copy(), ignore_index=True)
        
new_lines

airline                     2B
airline_id                 410
source_airport             AER
source_airport_id         2965
destination_airport        KZN
destination_airport_id    2990
codeshare                  NaN
stops                        0
equipment                  CR2
Name: 0, dtype: object

,airline,airline_id,source_airport,source_airport_id,destination_airport,destination_airport_id,codeshare,stops,equipment
0,2B,410.0,AER,2965.0,KZN,2990.0,NaN,0,CR2
1,2B,410.0,ASF,2966.0,KZN,2990.0,NaN,0,CR2
2,2B,410.0,ASF,2966.0,MRV,2962.0,NaN,0,CR2
3,2B,410.0,CEK,2968.0,KZN,2990.0,NaN,0,CR2
4,2B,410.0,CEK,2968.0,OVB,4078.0,NaN,0,CR2
5,2B,410.0,DME,4029.0,KZN,2990.0,NaN,0,CR2
6,2B,410.0,DME,4029.0,NBC,6969.0,NaN,0,CR2
7,2B,410.0,DME,4029.0,TGK,NaN,NaN,0,CR2
8,2B,410.0,DME,4029.0,UUA,6160.0,NaN,0,CR2
9,2B,410.0,EGO,6156.0,KGD,2952.0,NaN,0,CR2
10,2B,410.0,EGO,6156.0,KZN,2990.0,NaN,0,CR2
11,2B,410.0,GYD,2922.0,NBC,6969.0,NaN,0,CR2
12,2B,410.0,KGD,2952.0,EGO,6156.0,NaN,0,CR2
13,2B,410.0,KZN,2990.0,AER,2965.0,NaN,0,CR2
14,2B,410.0,KZN,2990.0,ASF,2966.0,NaN,0,CR2
15,2B,410.0,KZN,2990.0,CEK,2968.0,NaN,0,CR2
16,2B,410.0,KZN,2990.0,DME,4029.0,NaN,0,CR2
17,2B,410.0,KZN,2990.0,EGO,6156.0,NaN,0,CR2
18,2B,410.0,KZN,2990.0,LED,2948.0,NaN,0,CR2
19,2B,410.0,KZN,2990.0,SVX,2975.0,NaN,0,CR2
20,2B,410.0,LED,2948.0,KZN,2990.0,NaN,0,CR2
21,2B,410.0,LED,2948.0,NBC,6969.0,NaN,0,CR2
22,2B,410.0,LED,2948.0,UUA,6160.0,NaN,0,CR2
23,2B,410.0,MRV,2962.0,ASF,2966.0,NaN,0,CR2
24,2B,410.0,NBC,6969.0,DME,4029.0,NaN,0,CR2
25,2B,410.0,NBC,6969.0,GYD,2922.0,NaN,0,CR2
26,2B,410.0,NBC,6969.0,LED,2948.0,NaN,0,CR2
27,2B,410.0,NBC,6969.0,SVX,2975.0,NaN,0,CR2
28,2B,410.0,NJC,2972.0,SVX,2975.0,NaN,0,CR2
29,2B,410.0,NJC,2972.0,UUA,6160.0,NaN,0,CR2
...,...,...,...,...,...,...,...,...,...
67633,ZL,4178.0,SYD,3361.0,ABX,3333.0,NaN,0,SF3
67634,ZL,4178.0,SYD,3361.0,ARM,4062.0,NaN,0,SF3
67635,ZL,4178.0,SYD,3361.0,BHQ,6241.0,NaN,0,SF3
67636,ZL,4178.0,SYD,3361.0,BHS,6249.0,NaN,0,SF3
67637,ZL,4178.0,SYD,3361.0,BNK,4291.0,NaN,0,SF3
67638,ZL,4178.0,SYD,3361.0,DBO,3358.0,NaN,0,SF3
67639,ZL,4178.0,SYD,3361.0,GFF,6271.0,NaN,0,SF3
67640,ZL,4178.0,SYD,3361.0,LSY,6287.0,NaN,0,SF3
67641,ZL,4178.0,SYD,3361.0,MIM,6294.0,NaN,0,SF3
67642,ZL,4178.0,SYD,3361.0,MQL,6298.0,NaN,0,SF3
67643,ZL,4178.0,SYD,3361.0,MYA,6302.0,NaN,0,SF3
67644,ZL,4178.0,SYD,3361.0,NRA,6307.0,NaN,0,SF3
67645,ZL,4178.0,SYD,3361.0,NTL,4320.0,NaN,0,SF3
67646,ZL,4178.0,SYD,3361.0,OAG,6793.0,NaN,0,SF3
67647,ZL,4178.0,SYD,3361.0,PKE,6317.0,NaN,0,SF3
67648,ZL,4178.0,SYD,3361.0,TRO,6794.0,NaN,0,SF3
67649,ZL,4178.0,SYD,3361.0,WGA,3363.0,NaN,0,SF3
67650,ZL,4178.0,TRO,6794.0,GFN,6792.0,NaN,0,SF3
67651,ZL,4178.0,TRO,6794.0,SYD,3361.0,NaN,0,SF3
67652,ZL,4178.0,TSV,3330.0,ISA,3324.0,NaN,0,SF3
67653,ZL,4178.0,TSV,3330.0,WIN,6337.0,NaN,0,SF3
67654,ZL,4178.0,WGA,3363.0,MEL,3339.0,NaN,0,SF3
67655,ZL,4178.0,WGA,3363.0,SYD,3361.0,NaN,0,SF3
67656,ZL,4178.0,WIN,6337.0,LRE,6289.0,NaN,0,SF3
67657,ZL,4178.0,WIN,6337.0,TSV,3330.0,NaN,0,SF3
67658,ZL,4178.0,WYA,6334.0,ADL,3341.0,NaN,0,SF3
67659,ZM,19016.0,DME,4029.0,FRU,2912.0,NaN,0,734
67660,ZM,19016.0,FRU,2912.0,DME,4029.0,NaN,0,734
67661,ZM,19016.0,FRU,2912.0,OSS,2913.0,NaN,0,734
67662,ZM,19016.0,OSS,2913.0,FRU,2912.0,NaN,0,734

In [39]:
new_lines

Empty DataFrame
Columns: [airline, airline_id, source_airport, source_airport_id, destination_airport, destination_airport_id, codeshare, stops, equipment]
Index: []

,airline,airline_id,source_airport,source_airport_id,destination_airport,destination_airport_id,codeshare,stops,equipment
0,2B,410.0,AER,2965.0,KZN,2990.0,NaN,0,CR2
1,2B,410.0,ASF,2966.0,KZN,2990.0,NaN,0,CR2
2,2B,410.0,ASF,2966.0,MRV,2962.0,NaN,0,CR2
3,2B,410.0,CEK,2968.0,KZN,2990.0,NaN,0,CR2
4,2B,410.0,CEK,2968.0,OVB,4078.0,NaN,0,CR2
5,2B,410.0,DME,4029.0,KZN,2990.0,NaN,0,CR2
6,2B,410.0,DME,4029.0,NBC,6969.0,NaN,0,CR2
7,2B,410.0,DME,4029.0,TGK,NaN,NaN,0,CR2
8,2B,410.0,DME,4029.0,UUA,6160.0,NaN,0,CR2
9,2B,410.0,EGO,6156.0,KGD,2952.0,NaN,0,CR2
10,2B,410.0,EGO,6156.0,KZN,2990.0,NaN,0,CR2
11,2B,410.0,GYD,2922.0,NBC,6969.0,NaN,0,CR2
12,2B,410.0,KGD,2952.0,EGO,6156.0,NaN,0,CR2
13,2B,410.0,KZN,2990.0,AER,2965.0,NaN,0,CR2
14,2B,410.0,KZN,2990.0,ASF,2966.0,NaN,0,CR2
15,2B,410.0,KZN,2990.0,CEK,2968.0,NaN,0,CR2
16,2B,410.0,KZN,2990.0,DME,4029.0,NaN,0,CR2
17,2B,410.0,KZN,2990.0,EGO,6156.0,NaN,0,CR2
18,2B,410.0,KZN,2990.0,LED,2948.0,NaN,0,CR2
19,2B,410.0,KZN,2990.0,SVX,2975.0,NaN,0,CR2
20,2B,410.0,LED,2948.0,KZN,2990.0,NaN,0,CR2
21,2B,410.0,LED,2948.0,NBC,6969.0,NaN,0,CR2
22,2B,410.0,LED,2948.0,UUA,6160.0,NaN,0,CR2
23,2B,410.0,MRV,2962.0,ASF,2966.0,NaN,0,CR2
24,2B,410.0,NBC,6969.0,DME,4029.0,NaN,0,CR2
25,2B,410.0,NBC,6969.0,GYD,2922.0,NaN,0,CR2
26,2B,410.0,NBC,6969.0,LED,2948.0,NaN,0,CR2
27,2B,410.0,NBC,6969.0,SVX,2975.0,NaN,0,CR2
28,2B,410.0,NJC,2972.0,SVX,2975.0,NaN,0,CR2
29,2B,410.0,NJC,2972.0,UUA,6160.0,NaN,0,CR2
...,...,...,...,...,...,...,...,...,...
67633,ZL,4178.0,SYD,3361.0,ABX,3333.0,NaN,0,SF3
67634,ZL,4178.0,SYD,3361.0,ARM,4062.0,NaN,0,SF3
67635,ZL,4178.0,SYD,3361.0,BHQ,6241.0,NaN,0,SF3
67636,ZL,4178.0,SYD,3361.0,BHS,6249.0,NaN,0,SF3
67637,ZL,4178.0,SYD,3361.0,BNK,4291.0,NaN,0,SF3
67638,ZL,4178.0,SYD,3361.0,DBO,3358.0,NaN,0,SF3
67639,ZL,4178.0,SYD,3361.0,GFF,6271.0,NaN,0,SF3
67640,ZL,4178.0,SYD,3361.0,LSY,6287.0,NaN,0,SF3
67641,ZL,4178.0,SYD,3361.0,MIM,6294.0,NaN,0,SF3
67642,ZL,4178.0,SYD,3361.0,MQL,6298.0,NaN,0,SF3
67643,ZL,4178.0,SYD,3361.0,MYA,6302.0,NaN,0,SF3
67644,ZL,4178.0,SYD,3361.0,NRA,6307.0,NaN,0,SF3
67645,ZL,4178.0,SYD,3361.0,NTL,4320.0,NaN,0,SF3
67646,ZL,4178.0,SYD,3361.0,OAG,6793.0,NaN,0,SF3
67647,ZL,4178.0,SYD,3361.0,PKE,6317.0,NaN,0,SF3
67648,ZL,4178.0,SYD,3361.0,TRO,6794.0,NaN,0,SF3
67649,ZL,4178.0,SYD,3361.0,WGA,3363.0,NaN,0,SF3
67650,ZL,4178.0,TRO,6794.0,GFN,6792.0,NaN,0,SF3
67651,ZL,4178.0,TRO,6794.0,SYD,3361.0,NaN,0,SF3
67652,ZL,4178.0,TSV,3330.0,ISA,3324.0,NaN,0,SF3
67653,ZL,4178.0,TSV,3330.0,WIN,6337.0,NaN,0,SF3
67654,ZL,4178.0,WGA,3363.0,MEL,3339.0,NaN,0,SF3
67655,ZL,4178.0,WGA,3363.0,SYD,3361.0,NaN,0,SF3
67656,ZL,4178.0,WIN,6337.0,LRE,6289.0,NaN,0,SF3
67657,ZL,4178.0,WIN,6337.0,TSV,3330.0,NaN,0,SF3
67658,ZL,4178.0,WYA,6334.0,ADL,3341.0,NaN,0,SF3
67659,ZM,19016.0,DME,4029.0,FRU,2912.0,NaN,0,734
67660,ZM,19016.0,FRU,2912.0,DME,4029.0,NaN,0,734
67661,ZM,19016.0,FRU,2912.0,OSS,2913.0,NaN,0,734
67662,ZM,19016.0,OSS,2913.0,FRU,2912.0,NaN,0,734

In [25]:
new_lines.to_csv("routes-treated.csv", header=False, index=False)